<h1>Uplan labo</h1>
<p>There the tech we are currently using to develop the prototype </p>


<div class="row">

    <div class="col-lg-2">
        <img src="../../../res/logo.png" width="100%"/>



    </div>

    <div class="col-lg-10">
        <ul>
            <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
            <li><a href='https://angular.io/'>MS SQL Server Express 2017</a> and <a href='http://www.typescriptlang.org/'>Entity framework</a> for the database</li>
            <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
            <li><a href='https://webpack.github.io/'>Webpack</a> for building and bundling client-side resources</li>
            <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
            <li><a href='https://angular-maps.com/'>AGM Google map</a> To use Google Maps in Angular +2 version</li>
        </ul>
    </div>

 



</div>



