<div class="row">

    <div class="col-lg-2">
        <img src="../../../res/logo.png" width="100%" />



    </div>
    <div class="col-lg-10">
        <h1>:Map</h1>



    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <agm-map 
                 [latitude]="lat" 
                 [longitude]="lng" 
                 [zoom]="zoom"
                 
                 >
            <agm-marker *ngFor="let m of markers "
                        [latitude]="m.lat"
                        [longitude]="m.lng">
                
                <agm-info-window>{{m.name}}</agm-info-window>


            </agm-marker>
        </agm-map>
    </div>
    
   
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-title">
                <h4>Google Map Interface</h4>


            </div>
            <div class="panel-body">
                <form (submit)="AddMe()">
                    <label>Nom du marqueur</label>
                    <input type="text" [(ngModel)]="MarkerName" name="MarkerName">

                    <label>Latitude</label>
                    <input type="text" [(ngModel)]="MarkerLat" name="MarkerLat">
                    <label>Longitude</label>
                    <input type="text" [(ngModel)]="MarkerLng" name="MarkerLng">
                    
                    
                    <input type="submit" value="Ajouter">

                </form>

            </div>


        </div>



    </div>
</div>


